@font-face {
  font-family: 'LatoRegular';
  src: url('assets/fonts/LatoRegular/LatoRegular.woff2') format('woff2'),
    url('assets/fonts/LatoRegular/LatoRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LatoBold';
  src: url('assets/fonts/LatoBold/LatoBold.woff2') format('woff2'),
    url('assets/fonts/LatoBold/LatoBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow-Medium';
  src: url('assets/fonts/Barlow-Medium/barlow-medium.woff2') format('woff2'),
    url('assets/fonts/Barlow-Medium/barlow-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Barlow-Bold';
  src: url('assets/fonts/Barlow-Bold/barlow-bold.woff2') format('woff2'),
    url('assets/fonts/Barlow-Bold/barlow-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*@font-face {
  font-family: 'Barlow-ExtraBold';
  src: url('assets/fonts/Barlow-ExtraBold/barlow-extrabold.woff2') format('woff2'),
    url('assets/fonts/Barlow-ExtraBold/barlow-extrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BarlowCondensed-Regular';
  src: url('assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff2') format('woff2'),
    url('assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'BarlowCondensed-Bold';
  src: url('assets/fonts/BarlowCondensed-Bold/barlowcondensed-bold.woff2') format('woff2'),
    url('assets/fonts/BarlowCondensed-Bold/barlowcondensed-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'BarlowCondensed-SemiBold';
    src: url('assets/fonts/BarlowCondensed-SemiBold/BarlowCondensed-SemiBold.woff2') format('woff2'),
        url('assets/fonts/BarlowCondensed-SemiBold/BarlowCondensed-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



*,*:focus,.btn,.btn:focus {
    outline: 0!important;
    text-decoration: none
}
a,button,input {
    outline: 0;
    border: 0;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}
a,a:hover,a:focus,button:hover,button:focus {
    text-decoration: none;
    outline: 0
}
body {
    background: #fff;
    color: #000;
    font-size: 24px;
    line-height: 1.3;
    font-family: 'LatoRegular';
    background: url(assets/images/body-bg.jpg)
}
img {
    max-width: 100%;
    height: auto
}
strong{
  font-family: 'LatoBold';   
}
.ulc {
    margin: 0;
    padding: 0;
    list-style: none;
}
.overlay-link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10
}
.container {
    max-width: 1200px;
    width: 100%
}
.hide-md {
    display: block!important
}
.show-md {
    display: none!important
}

.hide-sm {
    display: block!important
}
.show-sm {
    display: none!important
}
.hide-xs {
    display: block!important
}
.show-xs {
    display: none!important
}
p { margin-bottom: 26px }
a { word-wrap: break-word }
u{
    text-decoration: underline;
}
.plr-30 {
    padding-left: 30px!important;
    padding-right: 30px!important
}
.plr-20 {
    padding-left: 20px!important;
    padding-right: 20px!important
}
.plr-10 {
    padding-left: 10px!important;
    padding-right: 10px!important
}
.plr-5{
    padding-left: 5px!important;
    padding-right: 5px!important
}
.fl-page-bdy-controller{
    max-width: 1170px;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0 5px 12px 0 rgba(180, 179, 179, 1);
    -moz-box-shadow: 0 5px 12px 0 rgba(180, 179, 179, 1);
    box-shadow: 0 5px 12px 0 rgba(180, 179, 179, 1)
}
h1 {
    font-size: 60px
}
h2 {
    font-size: 44px
}
h3 {
    font-size: 40px
}
h4 {
    font-size: 30px
}
h5 {
    font-size: 22px
}
h6{
    
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    line-height: 1.2;
} 

header.fl-hdr {
    background: #fff;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    position: relative;
    z-index: 5
}
.header-innr {
    background: #fff;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hdr-left,
.hdr-rgt {
    width: 50%;
    float: left
}
.hdr-left {
    padding-right: 30px
}
.hdr-rgt {
    text-align: right
}
.hdr-logo{
    display: inline-block;
    vertical-align: baseline;
    max-width: 160px
}
.hdr-rgt a{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 20px;
    line-height: 22px;
    color: #fff;
    background: #f7ae00;
    font-family: 'LatoBold';
    padding: 14px 25px 15px 70px;
    border-radius: 5px;
    position: relative;
}
.hdr-rgt a:after{
    content: "";
    position: absolute;
    left: 27px;
    top: 50%;
    background: url(assets/images/phone-icon.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.hdr-rgt a:hover{
    background: #f9b512;
}
.fl-hdr img{
    width: 100%
}
.fl-shipping {
    padding-bottom: 24px;
    background: #fff;
    box-sizing: border-box;
    position: relative
}
.fl-shipping-progress-bar{
    position: relative;
}
.fl-shipping-progress-bar:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -16px;
    height: 16px;
    background: url(assets/images/bdr-shadow.png);
    background-repeat: repeat-x;
    z-index: 5;
}
.fl-shipping img {
    display: inline-block;
    position: relative;
    top: 36px;
    width: 57px;
    height: 57px
}
.fl-shipping .two_sec img {
    top: 28px;
    width: 71px;
    height: 71px
}
.fl-shipping-col {
    width: 33.333%;
    float: left;
    padding-left: 7px;
    padding-right: 7px
}
.fl-shipping h4 {
    color: #000;
    font-family: 'BarlowCondensed-SemiBold'; 
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 45px;
    width: 100%
}
.fl-shipping .two_sec>h4 {
    font-family: 'BarlowCondensed-Bold';  
    margin-top: 32px;
}
.fl-shipping:before{
    content: "";
    height: 15px;
    width: 100%;
    position: absolute;
    background: url(assets/images/fl-shipping-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 15px;
    left: 0;
    right: 0;
    border-radius: 50px;
    top: 57px;
}
.fl-special-offer-sec{
    background-repeat: no-repeat;
    background-position: bottom right!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    margin-top: 5px;
    position: relative;
}
.special-offer-con-wrp {
    position: relative;
    text-align: center;
    padding: 35px 40px 30px;
    z-index: 1;
    margin-left: -15px;
    margin-right: -15px;
}
.special-offer-dsc{
    position: relative;
    z-index: 3;
    max-width:730px;
    width: 100%;
}
.special-offer-dsc h1{
     font-family: 'BarlowCondensed-Bold';
     color: #1c9bcf;
     line-height: 1;
     margin-bottom: 20px;
}
.special-offer-dsc span {
    display: inline-block;
    vertical-align: baseline;
    font-size: 20px;
    line-height: 22px;
    color: #000;
    padding: 18px 30px;
    background-size: 100% 100%!important;
}
.special-offer-dsc h4{
    display: inline-block;
    vertical-align: baseline;
    font-family: 'LatoBold';
    font-size: 34px;
    line-height: 1;
    color: #000;
    margin: 15px 0 25px;
}
.special-offer-dsc mark{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 44px;
    line-height: 1;
    color: #ff0000;
    max-width: 525px;
    width: 100%;
    margin: 0 auto;
    font-family: 'BarlowCondensed-Bold';
    background: #fff;
    padding: 15px 30px 10px;
    border-radius: 5px;
    -ms-box-shadow: 1px 0px 7px 3px rgba(0, 0, 0, .16);
    -webkit-box-shadow: 1px 0px 7px 3px rgba(0, 0, 0, .16);
    box-shadow: 1px 0px 7px 3px rgba(0, 0, 0, .16);
}
.special-offer-dsc strong{
    display: block;
    font-size:18px;
    line-height: 1;
    font-family: 'LatoBold';
    padding-top: 18px;
    padding-bottom: 20px;
}
.special-offer-dsc h5{
    font-size: 30px;
    line-height: 1;
    color: #ff0000;
    font-family: 'LatoBold';
    margin-bottom: 0;
}

.fl-content-sec-1-wrp{
    padding-top: 45px;
}
.fl-content-sec-1-btm-img,
.fl-content-sec-1-img{
    width: 50%;
}
.fl-content-sec-1-btm-des,
.fl-content-sec-1-des {
    width: 50%;
    padding-right: 40px;
}
.fl-content-sec-1-des{
    padding-right: 25px;
}
.fl-content-sec-1-img img{
    width: 100%;
}
.fl-content-sec-1-btm-img{
    margin-left: -5px;
}
.fl-content-sec-1-btm-des p strong,
.fl-content-sec-1-des-fullwidth p strong,
.fl-content-sec-1-des p strong{
    font-family: 'LatoBold';
}
.fl-content-sec-1-btm-des {
    padding-right: 0;
    padding-left: 30px;
    margin-top: -5px;
}

.fl-content-sec-1-des-btm-fullwidth{
    margin: 0 -25px;
    padding: 25px 35px 1px 25px;
    color: #fff;
    margin-bottom: 20px;
    background-position: bottom right!important;
    background-repeat: no-repeat!important;
    background-size: cover!important; 
}
.fl-content-sec-1-btm-1-img{
    margin-left: -30px;
    margin-right: -20px;
}
.fl-content-sec-2-wrp{
   position: relative;
}
.fl-content-sec-2-wrp:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -9px;
    height: 9px;
    background: url(assets/images/bdr-shadow-2.png);
    background-repeat: repeat-x;
    z-index: 5;
}
.fl-content-sec-2-dsc-fullwidth{
    padding-right: 10px;
}

.fl-content-sec-2-head {
    background: #1096ce;
    padding: 12px 30px 15px;
    color: #fff;
    text-align: center;
    border-bottom: 4px solid#c6cdd4;
    margin: 0 -25px;
}
.fl-content-sec-2-head h1{
    margin-bottom: 0;
    font-family: 'BarlowCondensed-SemiBold';
}
.fl-content-sec-1-btm-1-dsc p u{
    color: inherit;
    text-decoration: underline;
}
.fl-content-sec-2-img{
    margin-left: -10px;
    margin-right: -10px;
}
.fl-content-sec-2-dsc{
    padding-top: 15px;
}
.fl-content-sec-2-btm-img{
    text-align: center;
}
.fl-content-sec-2-profile-wrp {
    background: #f2fbff;
    margin-left: -25px;
    margin-right: -25px;
    padding: 35px 25px 15px;
}
.fl-content-sec-2-profile-wrp ul li{
    padding-bottom: 15px;
}
.fl-content-sec-2-profile-wrp ul li:nth-child(2n+2) .fl-content-sec-2-profile-dsc {
    margin-right: 70px;
    margin-left: 0;
    padding-left: 20px;
    padding: 25px 175px 20px 20px;
}
.fl-content-sec-2-profile-wrp ul li:nth-child(2n+2) .fl-content-sec-2-profile-img{
    left: auto;
    right: 0;
}
.fl-content-sec-2-profile-inr{
    position: relative;
    padding: 25px 0;
}
.fl-content-sec-2-profile-dsc{
    background: #fff;
    margin-left: 70px;
    padding: 35px 20px 35px 170px;
    -ms-box-shadow: 1px 0px 7px 3px rgba(223, 236, 245, .80);
    -webkit-box-shadow: 1px 0px 7px 3px rgba(223, 236, 245, .80);
    box-shadow: 1px 0px 7px 3px rgba(223, 236, 245, .80);
}
.fl-content-sec-2-profile-dsc p{
    margin-bottom: 0;
}
.fl-content-sec-2-profile-img{
    position: absolute;
    left: 0;
    top: 50%;
    bottom: 0;
    width: 210px;
    height: 210px;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.fl-content-sec-2-btm-1-dsc-full{
    padding-top: 30px;
}
.au-content-2-profile-wrp {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 25px;
}
.au-content-2-profile-wrp ul li{
    margin-bottom: 20px;
}
.au-content-2-profile-inr {
    background: #1c9bcf;
    padding: 20px 80px 75px 165px;
    position: relative;
    border-radius: 20px;
}
.au-content-2-profile-inr em{
    position: absolute;
    right: 25px;
    bottom: 10px;
}
.au-content-2-profile-img{
    float: left;
    position: absolute;
    left: 20px;
    top: 20px;
}
.au-content-2-profile-img span{
    display: block;
    font-size: 22px;
    line-height: 24px;
    color: #fff;
    font-family: 'LatoRegular';
    text-align: center;
    padding-top: 12px;
}
.au-content-2-profile-dsc h4{
    color: #98f2ff;
    font-family: 'LatoBold';
    margin-bottom: 15px;
    padding-top: 10px;
}
.au-content-2-profile-dsc p{
    color: #fff;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 26px;
}

.fl-content-sec-3-wrp{
    padding-top: 35px;
}
.fl-content-sec-3-head{
    padding-bottom: 30px;
}
.fl-content-sec-3-head h1{
    font-family: 'BarlowCondensed-SemiBold';
    text-align: center;
    margin-bottom: 15px;
}
.fl-content-sec-3-head h1 span{
    color: #1096ce;
}
.fl-content-sec-3-img{
    width: 36%;
    float: right;
}
.fl-content-sec-3-dsc{
    width: 64%;
    float: left;
}

.fl-content-sec-4-head {
    background-color: #1c9bcf;
    margin-left: -25px;
    margin-right: -25px;
    text-align: center;
    padding: 25px 25px 25px;
    position: relative;
}
.fl-content-sec-4-head:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -11px;
    height: 11px;
    background: url(assets/images/btm-wave.png);
    background-repeat: repeat-x;
    z-index: 5;
}
.fl-content-sec-4-head h1 {
    font-family: 'BarlowCondensed-SemiBold';
    color: #fff;
    margin-bottom: 0;
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 5px;
}
.fl-content-sec-4-head span{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 60px;
    line-height: 40px;
    color: #000;
    font-family: 'BarlowCondensed-SemiBold';
    padding: 10px 30px 18px 25px;
    background: #f7ae00;
    border-radius: 8px;
    -ms-box-shadow: 5px 5px 0px 0px rgba(21, 116, 155, .50);;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(21, 116, 155, .50);;
    box-shadow: 5px 5px 0px 0px rgba(21, 116, 155, .50);;
}
.fl-content-sec-4-dsc-full{
    padding-top: 25px;
}
.fl-content-sec-4-btm-dsc-full p u,
.fl-content-sec-4-dsc-full p u{
    text-decoration: underline;
    color: inherit;
}
.fl-content-sec-4-btm-dsc-full{
    padding-top: 10px;
}
.fl-content-sec-4-contlr{
    -webkit-box-shadow: 0px 3px 16px 0px rgba(213,217,220,1);
    -moz-box-shadow: 0px 3px 16px 0px rgba(213,217,220,1);
    box-shadow: 0px 3px 16px 0px rgba(213,217,220,1);
    border-radius: 8px;
}
.fl-content-sec-4-dsc-1-wrp {
    padding: 15px 20px 30px 25px;
    background-color: #fff;
    border-radius: 10px;
}
.fl-content-sec-4-img-1{
    width: 50%;
    float: right;
    padding-left: 10px;
}
.fl-content-sec-4-dsc-1{
    width: 50%;
    float: left;
    padding-top: 20px;
    padding-right: 10px;
}
.fl-content-sec-4-dsc-1 img{
    padding-top: 35px;
}
.fl-content-sec-4-img-1 img{
    width: 100%;
}
.fl-content-sec-4-dsc-2-full{
    background: #1c9bcf;
    padding: 30px 25px 25px 25px;
    border-radius: 0 0 8px 8px;
    color: #fff;
}
.fl-content-sec-4-dsc-2-full p{
    margin-bottom: 0;
}
.fl-content-sec-5-wrp{
    padding-top: 165px;
    padding-bottom: 15px;
    background: #f2fbff;
    margin-top: -135px;
}
.fl-content-sec-5-head{
    background: #1096ce;
    text-align: center;
    padding: 10px 20px 20px;
    border-bottom: 4px solid#c6cdd4;
    margin-right: -25px;
    margin-left: -25px;
}
.fl-content-sec-5-head h1{
    color: #fff;
   font-family: 'BarlowCondensed-SemiBold'; 
   margin-bottom: 0;
}
.fl-content-sec-5-dsc-full{
    padding-bottom: 25px;
}
.fl-content-sec-5-dsc-btm-full{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.fl-content-sec-6-wrp{
    background: #1c9bcf;
    padding-top: 35px;
    padding-bottom: 80px;
}
.fl-content-sec-6-wrp .fl-content-sec-3-head h1{
    color: #fff;
}
.fl-content-sec-6-dsc-full {
    text-align: center;
    color: #fff;
    padding-bottom: 15px;
}
.fl-content-maoney-back-wrp{
    padding: 45px 30px 20px;
    position: relative;
}
.fl-content-maoney-back-wrp:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: url(assets/images/fl-content-maoney-back-bdr.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}
.fl-content-maoney-back-img {
    width: 34%;
    float: right;
    padding-top: 10px;
}
.fl-content-maoney-back-img img{
    width: 100%;
}
.fl-content-maoney-back-dsc {
    width: 66%;
    float: left;
    padding-right: 63px;
}
.fl-content-maoney-back-dsc h5{
    font-size: 24px;
    line-height: 1;
    color: #fff;
    font-family: 'LatoBold';
    margin-bottom: 30px;
}
.fl-content-maoney-back-dsc p{
    color: #fff;
}

.thank-you-line{
    text-align: center;
}
.fl-ftr-top-sec-rgt-img{
    text-align: center;
}
.fl-ftr-top-sec-rgt-img img{
    margin-top: -15px;
    margin-left: -70px;
}
.thank-you-line u{
    display: block;
    text-decoration: underline;
    color: #0055e3;
    font-family: 'LatoRegular';
    padding-bottom: 35px;
    padding-top: 0;
    font-size: 24px;
    line-height: 1;
    padding-top: 40px;
}
.thank-you-line u a{
    color: inherit;
}
.thank-you-line u a:hover{
    opacity: .7;
}
.fl-ftr-top-sec ul li a{
    color: #000000;
}
.fl-ftr-top-sec ul li{
    padding-bottom: 45px;
}
.fl-ftr-top-sec ul li sup{
    display: inline-block;
    vertical-align: baseline;
    padding-right: 4px;
}

.fl-pkg-section{
    padding-top: 30px;
}
.fl-pkg-you-have p{
    margin-bottom: 40px;
}
.fl-pkg-grd-controller > ul > li{
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.fl-pkg-grd-col-btm-bdr{
    background: #1e4b5e;
    border-radius: 8px;
    padding-bottom: 4px;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    -moz-box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
}
.fl-pkg-grd-col-bdr-solid{
    position: relative;
}
.fl-pkg-grd-col-bdr-solid:before,
.fl-pkg-grd-col-bdr-solid:after{
    content: "";
    background: #bdd4dc;
    position: absolute;
    top: 4px;
    bottom: 2px;
    width: 1px;
    z-index: 1;
}
.order1 .fl-pkg-grd-col-bdr-solid:before,
.order1 .fl-pkg-grd-col-bdr-solid:after{
    background: #ded4d4;
}
.fl-pkg-grd-col-bdr-solid:before{
    left: -1px;
}
.fl-pkg-grd-col-bdr-solid:after{
    right: 0;
}

.fl-pkg-grd-col{
    padding-bottom: 5px;
    position: relative;
}

.fl-pkg-grd-col-hdr{
    border-radius: 5px 5px 0 0;
}
.fl-pkg-grd-col-hdr span{
    display: block;
}
.fl-pkg-grd-col-hdr{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-repeat: repeat-x!important;
    background-size: cover!important;
}
.fl-pkg-grd-col-hdr span{
    font-size: 42px;
    line-height: 1;
    font-family: 'BarlowCondensed-Bold';
    padding: 20px 10px 20px;
    background-repeat: repeat-x!important;
    border-radius: 5px 5px 0 0;
    text-shadow: 0px 1px #019bd4;
}
.order1 .fl-pkg-grd-col-hdr span{
    text-shadow: 0px 3px #b82121;
    background-position: center bottom!important;
}
.fl-pkg-grd-col-fea-img {
    margin: 0 auto;
    position: relative;
    display: table;
    padding: 0 15px 15px;
}
.fl-pkg-grd-col-fea-img div{
    display: inline-block;
    vertical-align: baseline;
}
.fl-pkg-grd-col-fea-img span{
    position: absolute;
    right: 32px;
    top: 16px;
}
.order1 .fl-pkg-grd-col-fea-img span {
    top: 22px;
    right: 86px;
}
.fl-pkg-grd-col{
    background: #f7f7f7;
    border: 3px solid #fff;
    border-radius: 8px;
}
.fl-pkg-price{
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: baseline;
    padding: 0 76px 0 28px;
    margin-bottom: 10px;
}
.fl-pkg-price:before {
    content: "$";
    position: absolute;
    left: 2px;
    top: -29px;
    font-size: 50px;
    line-height: 100%;
    font-family: 'Barlow-Bold';
    margin-right: 2px;
}
.fl-pkg-price:after{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background: #000;
    border-radius: 100%;
    font-family: 'Barlow-Bold';
    margin-right: 2px;
    right: 63px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.fl-pkg-price strong {
    font-size: 98px;
    line-height: 58px;
    font-weight: normal;
    font-family: 'Barlow-Bold';
    display: inline-block;
}
.fl-pkg-price sup {
    position: absolute;
    right: 9px;
    font-size: 50px;
    font-family: 'Barlow-Bold';
    top: -7px;
    line-height: 100%;
}
.fl-pkg-price sub {
    position: absolute;
    right: 11px;
    font-size: 39px;
    bottom: 8px;
    font-family: 'BarlowCondensed-Regular';
}
.fl-pkg-grd-ftr ul{
    display: table;
    margin: 0 auto;
}

.fl-footer-wrap {
    background-color: #001822;
    color: #fff;
    text-align: center;
    padding: 40px 0 35px;
    font-size: 14px;
    line-height: 19px;
    font-family: 'LatoRegular';
}
.fl-footer-wrap p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}
.fl-ftr-nav ul{
    padding-bottom: 40px;
}
.fl-ftr-nav ul li,
.fl-ftr-nav ul li a{
    display: inline-block;
    vertical-align: baseline;
}
.fl-ftr-nav ul li{
    font-size: 20px;
    line-height: 20px;
}
.fl-ftr-nav ul li:first-child{
    padding-left: 0;
}
.fl-ftr-nav ul li:last-child{
    padding-right: 0;
}
.fl-ftr-nav ul li a{
    color: #dcdcdc;
}
.fl-ftr-nav ul li a:hover,
.fl-ftr-top-sec ul li a:hover{
    opacity: .8;
}
.fl-pkg-grd-ftr{
    padding-left: 10px;
    padding-right: 10px;
    display: table;
    margin: 0 auto;
    padding-top: 20px;
}
.fl-add-to-cart-btn-img{
    margin-bottom: 15px;
}

.fl-add-to-cart-btn-img a{
    display: inline-block;
    vertical-align: baseline;
}
.fl-pkg-grd-ftr ul li {
    position: relative;
    padding: 3px 0 25px 40px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: 'Barlow-Medium';
}
.fl-pkg-grd-ftr ul li em{
    position: absolute;
    left: 0;
    top: 0;
}
.fl-ftr-nav ul li{
    padding: 0 8px;
    position: relative;
    font-family: 'LatoRegular';
}
.fl-ftr-nav ul li:not(:last-child):after {
    content: "";
    width: 1px;
    height: 18px;
    position: absolute;
    left: 100%;
    margin-left: 1px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.fl-ftr-des {
    color: #92a2a8;
    padding: 0 35px 20px;
    text-align: left;
}
.fl-copyright p{
    font-size: 14px;
    line-height: 1;
    color: #cfd4e4;
    margin-bottom: 0;
}


@media(max-width: 1199px){
    .hide-md{
        display: none!important;
    }
    .show-md{
        display: block!important;
    }
     h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 40px;
    }
    h3 {
      font-size: 36px;
    }
    h4 {
      font-size: 26px;
    }
    .fl-content-sec-4-dsc-1 p br,
    .fl-content-sec-2-profile-dsc p br,
    .special-offer-dsc h1 br{
        display: none;
    }
    .fl-content-sec-2-profile-wrp ul li:nth-child(2n+2) .fl-content-sec-2-profile-dsc {
        margin-left: 0;
        padding-left: 20px;
        padding: 20px 160px 20px 20px;
    }
    .fl-content-sec-4-head span{
        font-size: 50px;
        line-height: 38px;
    }
    .fl-pkg-grd-col-hdr span{
        font-size: 40px;
    }
    .order1 .fl-pkg-price strong {
        font-size: 85px;
        line-height: 72px;
    }
    .special-offer-dsc h4{
        font-size: 32px;
    }
    .special-offer-dsc mark{
        font-size: 40px;
    }
    .special-offer-con-wrp {
        padding: 35px 30px 30px;
    }
    .fl-content-maoney-back-wrp:before{
        background-size: 100% 100%;
    }

} 

@media(max-width: 1023px){
    
}

@media(max-width: 991px){
    .hide-sm{
        display: none!important;
    }
    .show-sm{
        display: block!important;
    }
    p br{
        display: none;
    }
     h1 {
      font-size: 42px;
    }
    h2 {
      font-size: 36px;
    }
    h3 {
      font-size: 32px;
    }
    h4 {
      font-size: 25px;
    }
    .fl-content-sec-2-profile-dsc{
        padding: 25px 10px 25px 155px;
    }
    .fl-content-sec-2-profile-dsc p{
        font-size: 22px;
    }
    .fl-content-sec-2-profile-wrp ul li:nth-child(2n+2) .fl-content-sec-2-profile-dsc {
        padding: 10px 140px 10px 10px;
    }
    .fl-content-sec-2-profile-img {
        width: 200px;
        height: 200px;
    }
    .fl-content-sec-2-profile-inr {
        padding: 15px 0;
    }
    .fl-content-sec-1-des {
        padding-right: 0;
        width: 100%;
        padding-top: 15px;
    }
    .fl-content-sec-1-btm-img,
    .fl-content-sec-1-img {
        width: 100%;
    }
    .fl-content-sec-1-img img {
        width: auto;
    }
    .fl-content-sec-1-btm-des {
        padding-right: 0;
        padding-left: 0;
        margin-top: 0;
        padding-top: 20px;
        width: 100%;
    }
    .fl-content-sec-1-btm-1-img {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        padding-bottom: 10px;
    }
    .fl-content-sec-2-img {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        padding-top: 15px;
    }
    .au-content-2-profile-inr {
        padding: 20px 60px 50px 155px;
    }
    .au-content-2-profile-inr {
        padding: 20px 30px 50px 145px;
    }
    .au-content-2-profile-wrp {
        padding-left: 30px;
        padding-right: 30px;
    } 
    .fl-content-sec-3-img {
        width: 100%;
        float: right;
        text-align: center;
    } 
    .fl-content-sec-3-dsc {
        width: 100%;
        float: left;
    }
    .fl-content-sec-4-head span{
        font-size: 42px;
        line-height: 35px;
    }
    .fl-content-sec-4-img-1 {
        width: 100%;
        padding-left: 0;
    }
    .fl-content-sec-4-dsc-1 {
        width: 100%;
        padding-top: 30px;
        padding-right: 0;
    }
    .fl-content-sec-4-dsc-1 img {
        padding-top: 30px;
        width: auto !important;
        text-align: center;
        display: table;
        margin: 0 auto;
    }
    .fl-content-sec-4-img-1{
        text-align: center;
    }
    .fl-content-sec-4-img-1 img {
        width: auto;
    }
    .fl-content-maoney-back-img {
        width: 100%;
        padding-top: 40px;
        text-align: center;
    }
    .fl-content-maoney-back-dsc {
        width: 100%;
        padding-right: 0;
        padding-top: 25px;
    }
    .fl-content-maoney-back-img img {
        width: auto;
        text-align: center;
    }
    .fl-pkg-grd-col-hdr span{
        font-size: 38px;
    }
    .fl-ftr-des {
        padding: 0 30px 20px;
    }
    .special-offer-dsc h4{
        font-size: 30px;
    }
    .special-offer-dsc mark{
        font-size: 38px;
    }
    .special-offer-con-wrp {
        padding: 35px 20px 30px;
    }
    .fl-content-maoney-back-wrp:before{
        display: none;
    }
    .fl-content-maoney-back-wrp {
        border: 1px solid#146f94;
        padding: 10px 15px 10px;
    }
    .fl-content-sec-2-profile-wrp{
        padding-bottom: 35px;
    }
}

@media (max-width:830px){
    .fl-shipping h4 {
        font-size: 16px
    }

}

@media(max-width: 767px){
    .hide-xs{
        display: none!important;
    }
    .show-xs{
        display: block!important;
    }
    body {
        font-size: 19px;
    }
    p{
       margin-bottom: 20px;
    }
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 35px;
    }
    h3 {
      font-size: 30px;
    }
    h4 {
      font-size: 24px;
    }
    .fl-content-sec-2-profile-img {
        width: 200px;
        height: 200px;
        position: static;
        transform: none;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .fl-content-sec-2-profile-dsc {
        padding: 0;
        margin-left: 0;
        background:transparent;
        box-shadow: none;
    }
    .fl-content-sec-2-profile-inr{
        -ms-box-shadow: 1px 0px 7px 3px rgba(223, 236, 245, .80);
        -webkit-box-shadow: 1px 0px 7px 3px rgba(223, 236, 245, .80);
        box-shadow: 1px 0px 7px 3px rgba(223, 236, 245, .80);
        background:#fff;
        padding: 30px 15px;
    }
    .fl-content-sec-2-profile-wrp ul li:nth-child(2n+2) .fl-content-sec-2-profile-dsc {
        padding: 0;
        margin-right: 0;
    }
    .au-content-2-profile-wrp {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
    }
    .au-content-2-profile-dsc p {
        font-size: 20px;
        line-height: 24px;
    }
    .fl-content-sec-4-head span{
        font-size: 38px;
        line-height: 32px;
    }
    .fl-content-sec-5-dsc-btm-full {
        padding-bottom: 0px;
    }
    .fl-pkg-grd-col-hdr span{
        font-size: 35px;
    }
    .fl-pkg-you-have p {
        margin-bottom: 30px;
    }
    .fl-pkg-grd-col-hdr span {
        padding: 15px 10px 15px;
    }
    .fl-ftr-des {
        padding: 0 0px 20px;
    }
    .fl-ftr-nav ul li {
        font-size: 18px;
        line-height: 20px;
    }
    .special-offer-dsc h4{
        font-size: 28px;
    }
    .special-offer-dsc mark{
        font-size: 35px;
    }
    .special-offer-dsc h5{
        font-size: 28px;
    }
    .special-offer-con-wrp {
        padding: 35px 15px 15px;
    }
    .fl-content-sec-1-wrp {
        padding-top: 30px;
    }
    .fl-content-maoney-back-dsc h5{
        margin-bottom: 20px;
    }
    .fl-content-maoney-back-img{
        padding-top: 20px;
    }

    .fl-content-sec-6-wrp {
        padding-top: 30px;
        padding-bottom: 50px;
        
    }
    
    .special-offer-dsc mark{
        padding: 15px 20px 10px;
    }
    .title-wave{
        max-width: 300px;
    }
    .bnr-overlay{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(255,255,255, .5);
        z-index: 1;
    }
    .special-offer-con-wrp{
        position: relative;
        z-index: 2;
    }

}

@media(max-width: 639px){
    .fl-shipping .two_sec img {
        width: 65px;
        height: 65px
    }
    .fl-shipping img {
        width: 50px;
        height: 50px
    }
    .special-offer-con-wrp h5 {
        margin-bottom: 20px;
    }

    .rare-root-feature-wrp ul li .rare-root-feature-des{
        border: 5px solid #000;
    }


}
 
@media(max-width: 575px){
    h1 {
      font-size: 38px;
    }
    h2 {
      font-size: 35px;
    }
    h3 {
      font-size: 30px;
    }
    h4 {
      font-size: 22px;
    }
    .hdr-left{
        padding-right: 0;
    }
    .au-content-2-profile-wrp {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 15px;
    }
    .au-content-2-profile-img {
        float: left;
        position: static;
        width: 100%;
        text-align: center;
        padding-bottom: 15px;
    }
    .au-content-2-profile-inr {
        padding: 20px 20px 60px 20px;
    }
    .fl-content-sec-4-head span{
        font-size: 33px;
        line-height: 28px;
    }
    .special-offer-dsc mark{
        font-size: 32px;
    }
    .special-offer-dsc h5{
        font-size: 26px;
    }
    .thank-you-line u{
        font-size: 22px;
    }
    .fl-pkg-price strong {
        font-size: 95px;
    }
    .order1 .fl-pkg-grd-col-fea-img span{
        max-width: 80px;
      }
      .order1 .fl-pkg-grd-col-fea-img span{
        right: 75px;
      }
      .hdr-rgt a {
        padding: 14px 15px 15px 50px;
    }
    .hdr-rgt a:after{
        left: 14px;
    }

}

@media(max-width: 479px){
   .fl-pkg-grd-ftr ul li {
        padding: 3px 0 20px 35px;
        font-size: 15px;
        line-height: 17px;
    }
    .special-offer-dsc span {
        font-size: 16px;
        line-height: 18px;
        padding: 18px 15px;
    }
    .special-offer-dsc h4 {
        font-size: 26px;
    }
    .order1 .fl-pkg-price strong {
        font-size: 75px;
    }
    .fl-pkg-price:before {
        left: 2px;
        top: -13px;
        font-size: 45px;
    }
    .fl-pkg-price sup {
        right: 13px;
        font-size: 46px;
        top: -7px;
    }
    .fl-pkg-price sub {
        position: absolute;
        right: 18px;
        font-size: 35px;
        bottom: 11px;
    }
    .hdr-rgt a {
        padding: 12px 10px 12px 41px;
        font-size: 16px;
    }
    .hdr-rgt a:after {
        left: 11px;
        width: 22px;
        background-size: 100% auto;
        height: 22px;
    }

}

@media(max-width: 459px){
   .hdr-left, .hdr-rgt{
    width: auto;
   } 
   .header-innr{
    justify-content: initial;
   }
   .hdr-rgt{
    margin-left: auto;
   }
   .hdr-rgt a{
    font-size: 15px;
   }
}


@media(max-width: 359px){
    

}